<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 04.11.2023, 15:27</time>
            <h2><a href="">My first post</a></h2>
            <p>Today is my first day in my DjangoCon Girls Programme in Zanzibar. It is a nice experience really, i got to learn alot of things abut coding and website development like pip install...funny right!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>My second day was awesome so much. we wete told how to to create templates of a website so awesome.</p>
        </article>
    </body>
</html>